# Dependencies
node_modules/

# Env files
.env
.env.*
!.env.example

# Build outputs
dist/
.next/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Prisma
apps/api/prisma/dev.db
apps/api/prisma/*.db-journal

# Husky
.husky/_
